.bCompactHeader {
    position: sticky;
    left: 0;
    right: 0;
    top: -56px;
    margin-bottom: -56px;
    transition: top .2s;
    z-index: 98;
}

.profileHeader {
    width: 100%;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
    height: 204px;
    position: relative;
}

.img {
    object-fit: cover;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.bannertext {
    text-align: start;
    color: white;
    margin-left: 5px;
}