.nav {
  padding: 10px;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 50px;
  max-height: 50px;
  border-bottom: 1px solid lightgrey;
  position: sticky;
  top: 0;
}